.title {
  text-align: center;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("https://static1.squarespace.com/static/58740fa429687fee6e06be6a/5a170bf4c83025aa86f03071/5b5e4b1970a6addd33e5c750/1534001649275/AdobeStock_199634969.jpeg?format=2500w");
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding: 240px 0;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// .offer_global {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
//   justify-content: space-around;
//   padding: 50px;
// }

// .pictos {
//   font-size: 40px;
//   text-align: center;
// }

// .description {
//   font-size: 20px;
// }

.container-home {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.map-title {
  padding: 30px;
}

.map-title p {
  font-size: 32px;
  text-align: center;
}

#map {
  width: 60%;
}

.search-form {
  width: 50%;
  margin: auto;
}


