.title {
  text-align: center;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("https://res.cloudinary.com/di4pxxpr8/image/upload/v1558622355/Rock%20My%20Boat/catamaran-5294_renw9z.jpg");
  background-size: cover;
  height: 70vh;
  padding: 240px 0;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// .offer_global {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
//   justify-content: space-around;
//   padding: 50px;
// }

// .pictos {
//   font-size: 40px;
//   text-align: center;
// }

// .description {
//   font-size: 20px;
// }

.container-home {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.map-title {
  padding: 30px;
}

.map-title p {
  font-size: 32px;
  text-align: center;
}

#map {
  width: 60%;
}

.search-form {
  width: 50%;
  margin: auto;
}


