<div class="banner">
  <div class="title">
    <h1><strong>Book a boat and let's party begin !</strong></h1>
  </div>
  <div class="search-form">
    <%= form_tag boats_path, method: :get do %>
      <%= text_field_tag :city,
        params[:city],
        class: "form-control",
        placeholder: "Choose a city"
      %>
    <% end %>
  </div>
</div>


<div class="offer_global">
  <div>
    <div class="pictos">
      <i class="fas fa-search"></i>
    </div>
    <div class="description">
      <p>Choose your theme</p>
    </div>
  </div>
  <div>
    <div class="pictos">
      <i class="fas fa-ship"></i>
    </div>
    <div class="description">
      <p>Select your boat</p>
    </div>
  </div>
  <div>
    <div class="pictos">
      <i class="fas fa-glass-cheers"></i>
    </div>
    <div class="description">
      <p>Enjoy the party !</p>
    </div>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>


