<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di4pxxpr8/image/upload/v1558622355/Rock%20My%20Boat/catamaran-5294_renw9z.jpg);">
  <div class="text">
    <h1><strong>Book a boat and let's party begin !</strong></h1>
    <a href="/boats" class="home_button">Find your boat</a>
  </div>
</div>

<!-- <div class="offer_title">
 <h2>How it works</h2>
</div> -->


<div class="offer_global">
  <div>
    <div class="pictos">
      <i class="fas fa-search"></i>
    </div>
    <div class="description">
      <p>Choose your theme</p>
    </div>
  </div>
  <div>
    <div class="pictos">
      <i class="fas fa-ship"></i>
    </div>
    <div class="description">
      <p>Select your boat</p>
    </div>
  </div>
  <div>
    <div class="pictos">
      <i class="fas fa-glass-cheers"></i>
    </div>
    <div class="description">
      <p>Enjoy the party !</p>
    </div>
  </div>
</div>


