.form-container h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.form-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: asset-url("boat-deck.jpg");
}

.background-picture {
  width: 100%;
  height: 100%;
  padding: 70px 0;
}

.main-row {
  margin: 32px auto 0 auto;
  background-color: rgba(255, 255, 255, .6);
  width: 800px;
  height: 700px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}

.main-row-rating {
  height: 440px;
}

.main-row-login {
  height: 440px;
}

.btn-photo {
  width: 80px;
}

.btn-100 {
  width: 100%;
}

.container-boat {
  margin-top: 100px;
  margin-bottom: 56px;
  .form-container {
    .background-picture {
      height: 500px;
      .main-row {
        height: 360px;
        .col-12 {
          form {

          }
        }
      }
    }
  }
}

.container-boat-login {
  margin-top: 100px;
  margin-bottom: 56px;
  height: 100%;
  width: 100%;
  .form-container {
    .background-picture {
      height: 100%;
      width: 100%;
      .main-row {
        height: 440px;
        .col-12 {
          form {

          }
        }
      }
    }
  }
}

.container-boat-login {
  margin-top: 100px;
  margin-bottom: 56px;
  height: 100%;
  width: 100%;
  .form-container {
    .background-picture {
      height: 100%;
      width: 100%;
      .main-row {
        height: 440px;
        .col-12 {
          form {

          }
        }
      }
    }
  }
}












