.navbar-lewagon {
  justify-content: space-between;
  background-color: #274C77;
  position: fixed-top;
}

.navbar-inner-home {
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.navbar-transparent {
  background-color: transparent;
  position: fixed;
  width: 100vw;
}
