<div class="container">
  <h1><%= @boat.name %></h1>

  <p>Capacity: <%= @boat.capacity %></p>
  <p>Price per day: <%= @boat.price_per_day %>€</p>
  <p>Owner: <%= @boat.user.first_name %></p>
</div>

